#products-columns{
  text-align: center;
}

p{
  text-align: center;
  font-size: 1.25rem;
}

.product-detail{
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0%);
  }
}


